{% extends 'base.html'%}
{% block content%}
<section class="container">
   <div class="row">
      <div class="col" a>
         <form action="" method="post">
            <p>
               {{ form.name.label }}<br>
               {{ form.name(size =32) }}
            </p>
            <p>
               {{ form.due_date.label }}<br>
               {{ form.due_date(size=32) }}
            </p>
            <p>
               {{ form.status.label }}<br>
               {{ form.status() }}
            </p>
            <p>{{ form.submit() }}</p>
         </form>
      </div>
   </div>
</section>
{% endblock%}